<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'StronaG.css' %}">
    <title>{% block title %}Żyd🚗Rent{% endblock %}</title>
</head>

<body>
    <div class="navbar">
        <a href="{% url 'home' %}" class="logo">
            <div class="logo-main">Żyd🚗Rent</div>
        </a>

        <div>
            <a href="{% url 'home' %}">Strona Główna</a>
            <a href="{% url 'car_list' %}">Flota</a>
            <a href="{% url 'about' %}">O nas</a>
            <a href="{% url 'contact' %}">Kontakt</a>
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>
</html>