<!DOCTYPE html>

<h2>{{ car.model }}</h2>

<form method="POST">
    {% csrf_token %}

    <!-- Ukryte pola z datami -->
    <input type="hidden" name="start_date" value="{{ start }}">
    <input type="hidden" name="end_date" value="{{ end }}">

    <h3>Dodatki:</h3>
    {% for addon in addons %}
        <label>
            <input type="checkbox" name="addons" value="{{ addon.id }}">
            {{ addon.name }} ({{ addon.daily_price }} zł/dzień)
        </label><br>
    {% endfor %}

    <button type="submit">Oblicz</button>
</form>

{% if price %}
    <h2>Cena: {{ price }} zł</h2>
{% endif %}
