<!DOCTYPE html>

#wyszukiwanie
<form method="POST" action="{% url 'search_cars' %}">
    {% csrf_token %}
    <input type="date" name="start_date" required>
    <input type="date" name="end_date" required>
    <button type="submit">Szukaj</button>
</form>

{% if cars %}
    <h2>Dostępne auta:</h2>
        {% for car in cars %}
            <p>
                <a href="{% url 'calculate' car.id %}?start={{ start_date }}&end={{ end_date }}">
                    {{ car }}</a>
            </p>
        {% empty %}
            <p>Brak aut</p>
        {% endfor %}
{% endif %}

