{% extends 'base.html' %}

{% block title %}Kontakt - Żyd🚗Rent{% endblock %}

{% block content %}
<div class="contact-container" style="flex-direction: column; margin-top: 50px;">
    <h1>Napisz do nas</h1>
    <p>Masz pytanie o cenę? Na pewno jest za niska, zaraz ją podniesiemy.</p>

    <form method="post" style="width: 100%; max-width: 500px;">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-primary">Wyślij zapytanie</button>
    </form>
</div>
{% endblock %}