<!DOCTYPE html>
{% load static %}
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'strona/rej_log.css' %}">
    <title>Rejestracja</title>
</head>
<body>
    <div class="auth-container">
        <h1>Stwórz konto</h1>
        <form method="post" novalidate>
            {% csrf_token %}
            <div class="form-grid">
                {% for field in form %}
                    <div class="form-group {{ field.name }}">
                        <label class="form-label">{{ field.label }}</label>

                        {{ field }}

                        {% if field.help_text %}
                            <span class="help-text">{{ field.help_text }}</span>
                        {% endif %}

                        {% if field.errors %}
                            <div class="error-msg">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="auth-footer">
                    <button type="submit" class="btn-submit">Zarejestruj się</button>
                    <p>Masz już konto? <a href="{% url 'login' %}">Zaloguj się</a></p>
                </div>
            </div>
        </form>
    </div>
</body>
</html>